#button {
  background-color: rgb(242, 169, 0);
  color: white;
  font-weight: 600;
}
#button:active,
#button:focus {
  background-color: rgb(180, 129, 10);
}

#line {
  border-bottom: 1px solid #b8b3b3;
  color: white;
}
#line:hover,
:visited {
  border-bottom: 3px solid rgb(242, 169, 0);
}
