img:hover {
  cursor: context-menu;
}
.black {
  background-color: black;
}
#root {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
}
